node_modules/
www/assets/
android/build/
app/build/
build/
dist/
.env
.DS_Store
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
/.parcel-cache/
/.pnp/
.pnp.js
*.tgz
/.history/